:root {
    --bg-color: #ffffff;
    --bg-color-2: #ededed;
    --fg-color: #000000;
    --splash-color: #eeeef8;
    --hr-color: #000000;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --bg-color: #121213;
      --bg-color-2: #1f1f21;
      --fg-color: #ffffff;
      --splash-color: #2f2f33;
      --hr-color: #ffffff;
    }
  }
  
  html {
    box-sizing: border-box;
    margin: 0;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    font-family: sans-serif;
    color: var(--fg-color);
    background-color: var(--bg-color);
  }
  
  h1 {
    text-align: center;
  }
  
  p {
    margin: 0;
    margin-bottom: 0.5rem;
  }
  
  a {
    text-decoration: none;
    color: #135eff;
  }
  
  hr {
    border: 0;
    clear: both;
    display: block;
    width: 90%;
    background-color: var(--hr-color);
    height: 0.2rem;
  }
  
  #game-board {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .letter-box {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
  
    border: 2px solid #6c6c6c;
    border-radius: 3px;
  
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .filled-box {
    border: 2px solid var(--fg-color);
  }
  
  /*
  .filled-box {
    border: 2px solid var(--fg-color);
  }
  */
  
  .letter-row {
    display: flex;
  }
  
  #keyboard-cont {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #keyboard-cont div {
    display: flex;
    margin: 4px 0;
  }
  
  
  .keyboard-button {
    padding: 1rem;
    margin: 0 4px;
  
    font-size: 1rem;
    font-weight: 700;
  
    cursor: pointer;
    text-transform: uppercase;
  
    color: #000000;
    background-color: #e3e3e9;
    border: 0;
    border-radius: 4px;
  }
  
  
  
  
  #splash {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 65%;
  
    margin: auto;
    padding: 1rem;
    overflow: scroll;
  
    text-align: center;
    line-height: 1.5;
    align-content: center;
    align-items: center;
  
    background: var(--splash-color);
    border: 1px solid var(--bg-color-2);
    border-radius: 10px;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
  }
  
  
  #startButton {
    font-size: 1em;
    font-weight: 700;
    margin: 0.5rem auto;
    padding: 0.2rem;
  
    cursor: pointer;
    text-transform: uppercase;
    color: #000000;
  
    width: 6rem;
    min-height: 2.5rem;
  
    border: 0;
    border-radius: 4px;
  }
  
  @media (max-width: 800px) {
    #keyboard-cont div {
      width: 100%;
    }
  
    .keyboard-button {
      flex: 1;
      margin: 0 2px;
      height: 3rem;
  
      font-size: 0.9rem;
      padding: 0.2rem;
    }

    #myButton {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }

    #keyboard-cont {
      margin: 0.3rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    #splash {
      width: 95%;
    }
  
  }